<html>
    <head>
        
        <script src="https://d3js.org/d3.v5.min.js"></script>
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
        <meta charset="UTF-8"> 
        <meta name="viewport" content="width=device-width, initial-scale=1.0"> 
        <meta http-equiv="X-UA-Compatible" content="ie=edge"> 
        <title>Basic Charts</title>  
    </head>
    <body>
        <h3> HTML list using JavaScript using for loop</h3>
        <div id='bar'></div>
        <div id='line-chart'></div>
        <script src="static/birthrate.js"></script>
    </body>

</html>
